<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 mb-4">{{ title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <div class="jumbotron">
        <div class="row">
          <div class="col-12">
            <form>
              <div class="form-row mb-2">
                <label for="token" class="col-3 col-form-label">Token: </label>
                <div class="input-group col-9">
                  <input type="password" name="token" [(ngModel)]="token" class="form-control">
                  <div class="input-group-append">
                    <button class="btn btn-dark" (click)="loadRequests()">
                      <i class="fa fa-paper-plane"></i> Query
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <label for="search" class="col-3 col-form-label">Search: </label>
                <div class="input-group col-9">
                  <input type="text" name="search" [(ngModel)]="search" class="form-control">
                  <div class="input-group-append">
                    <button class="btn btn-dark" type="button" (click)="loadRequests()">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <hr class="my-4">
        <div class="row">
          <div class="col-12">
            Repository: {{ repository }}<br>
            Owner: {{ owner }}
            <span *ngIf="totalCount !== 0">
              <br>Number of open Pull requests: {{ totalCount }}
            </span>
          </div>
        </div>
      </div>      
    </div>
    <div class="col-md-7 col-sm-12" *ngIf="pullRequests.length !== 0">
      <h2 class="mb-4">Open Pull Requests:</h2>
      <div class="row">
        <div class="col-12">
          <div class="btn-group mb-4" *ngIf="pageInfo.hasPreviousPage || pageInfo.hasNextPage">
            <button type="button" 
              class="btn btn-light" 
              [disabled]="!pageInfo.hasPreviousPage"
              (click)="loadRequests(pageInfo.startCursor, false)">Previous</button>
            <button type="button" 
              class="btn btn-light" 
              [disabled]="!pageInfo.hasNextPage" 
              (click)="loadRequests(pageInfo.endCursor, true)">Next</button>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let pullRequest of pullRequests">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="card-title">{{ pullRequest.title }}</h4>
              <p class="card-text" [innerHTML]="pullRequest.bodyHTML"></p>
            </div>
            <div class="card-footer text-muted">
              {{ pullRequest.createdAt | date:'longDate' }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="btn-group mb-4" *ngIf="pageInfo.hasPreviousPage || pageInfo.hasNextPage">
            <button type="button" 
              class="btn btn-light" 
              [disabled]="!pageInfo.hasPreviousPage"
              (click)="loadRequests(pageInfo.startCursor, false)">Previous</button>
            <button type="button" 
              class="btn btn-light" 
              [disabled]="!pageInfo.hasNextPage" 
              (click)="loadRequests(pageInfo.endCursor, true)">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
